<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026294026637-evudta9cfh3o2j905od7939cij0mf4jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026294026637-evudta9cfh3o2j905od7939cij0mf4jt</string>
	<key>API_KEY</key>
	<string>AIzaSyC_RHZEzJ1RDljs8sRi0GdaH1Cqm7mCpZc</string>
	<key>GCM_SENDER_ID</key>
	<string>1026294026637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camilomoreno.ChatUIS</string>
	<key>PROJECT_ID</key>
	<string>chatuis</string>
	<key>STORAGE_BUCKET</key>
	<string>chatuis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026294026637:ios:5d09c36d063f93eb502dc4</string>
</dict>
</plist>